<footer class="footer flex-column space-around">
	<div class="flex row space-between">
		<div class="info flex">
			<div class="contact-info">
				<h4>CONTACT INFO</h4>
				<ul>
					<li>info@inhabitent.com</li>
					<li>778-456-7891</li>
					<li class="flex space-between">
						<div>f</div>
						<div>t</div>
						<div>g</div>
					</li>
				</ul>
			</div>
			<div class="business-hours-info">
				<h4>BUSINESS HOURS</h4>
				<ul>
					<li>Monday-Friday: 9am to 5pm</li>
					<li>Saturday: 10am to 2pm</li>
					<li>Sunday: Closed</li>
				</ul>
			</div>
		</div>
		<div class="foot-logo"></div>		
	</div>
	<div class="row flex-center-center">
		<p>COPYRIGHT 2016 INHABITENT</p>
		<a [routerLink]="['/journal', 'newEntry']">Make New Post</a>
	</div>

</footer>