<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<form method="post" id="apiForm">
	<label>Title*:</label>
	<input [(ngModel)]="entry.title" type="text" name="title" required>

<!-- 	<label>Author: </label>
	<input [(ngModel)]="entry.author" type="text" name="author"> -->

	<label>Categories:</label>
	<input [(ngModel)]="entry.categories" type="text" name="categories" placeholder="ie. garbage, nonsense, silliness">

	<label>Image:</label>
	<input [(ngModel)]="entry.image" type="text" name="image"
	placeholder="put image link here">

	<label>Content*:</label>
	<textarea [(ngModel)]="entry.content" rows="20" cols="100" name="content" required></textarea>

	<input (click)="submitForm()" type="submit" name="Submit" placeholder="Submit">
	<button [routerLink]="['/journal']">Cancel</button>
<!-- 	<input type="reset" name="Reset" placeholder="Reset"> -->
</form>