<div class="banner-image flex-center-center">
	<div class="alt-logo"></div>
</div>


<div class="container flex-col flex-center-center">
	<div class="flex row">
		<h2>SHOP STUFF</h2>
	</div>
	<div class="shop flex row space-between">
		<div class="shop-stuff-item flex-col flex-center-center">
			<img class="shop-icon" src="../assets/images/product-type-icons/do.svg">
			<p class="text-center">Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
			<div class="shop-btn">DO STUFF</div>
		</div>
		<div class="shop-stuff-item flex-col flex-center-center">
			<img class="shop-icon" src="../assets/images/product-type-icons/eat.svg">
			<p class="text-center">Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
			<div class="shop-btn">EAT STUFF</div>
		</div>
		<div class="shop-stuff-item flex-col flex-center-center">
			<img class="shop-icon" src="../assets/images/product-type-icons/sleep.svg">
			<p class="text-center">Get a good night's rest in the wild in a home away from home that travels well.</p>
			<div class="shop-btn">SLEEP STUFF</div>
		</div>
		<div class="shop-stuff-item flex-col flex-center-center">
			<img class="shop-icon" src="../assets/images/product-type-icons/wear.svg">
			<p class="text-center">From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
			<div class="shop-btn">WEAR STUFF</div>
		</div>
	</div>


<app-carousel></app-carousel>


	<div class="flex row">
		<h2>LATEST ADVENTURES</h2>
	</div>
	<div class="adventures flex row">
		<div class="adventure-item"></div>
		<div class="flex-col">
			<div class="flex row">
				<div class="adventure-item"></div>
			</div>
			<div class="flex-row">
				<div class="adventure-item"></div>
				<div class="adventure-item"></div>
			</div>
		</div>
	</div>
</div>